body {
	box-sizing: border-box;
	font-size: 18px;
	font-family: $font-family;
	background-color: #000;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	max-width: $desktopWidth;
	max-height: $desktopHeight;
	margin: 0 auto;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background-color: $container-background;
		z-index: -1;

		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}

	.main {
		width: ($mainWidth / $desktopWidth) * 100%;
		height: 100%;
		max-width: $mainWidth;
		margin: 78px auto auto;

		// .head {
		// 	display: flex;
		// 	justify-content: space-between;
		// 	align-items: center;
		// 	width: 100%;
		// 	max-width: $mainWidth;
		// 	margin-bottom: 30px;

		// 	h1 {
		// 		font-size: 2rem;
		// 		font-weight: 600;
		// 		letter-spacing: 0.8rem;
		// 		color: white;
		// 		margin: 0;
		// 		padding-top: 6px;
		// 	}

		// 	img {
		// 		// position: relative;
		// 		cursor: pointer;
		// 	}

		// 	#sun.hide {
		// 		display: none;
		// 	}

		// 	#moon.hide {
		// 		display: none;
		// 	}
		// }
	}
}
