body {
	box-sizing: border-box;
	font-size: 18px;
	font-family: $font-family;
	background-color: #000;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	max-width: $desktopWidth;
	max-height: $desktopHeight;
	margin: 0 auto;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background-color: $container-background;
		z-index: -1;

		img {
			visibility: hidden;
			max-width: 100%;
			min-height: 200px;
			height: auto;
			margin: 0 auto;
			position: absolute;
		}

		.desktop {
			min-width: 960px;
			// background: url('../images/bg-desktop-dark.jpg') no-repeat;
		}

		.mobile {
			min-width: 375px;
		}

		@media screen and (min-width: $mobileWidth + 1) {
			.desktop {
				visibility: visible;
			}
		}

		@media screen and (max-width: $mobileWidth) {
			.mobile {
				visibility: visible;
			}
		}
	}

	&.theme-day {
		.background {
			.desktop {
				// display: block;
				// box-sizing: border-box;
				// background: url('../images/bg-desktop-light.jpg') no-repeat;
				// width: 1440px;
				// height: 300px;
			}
		}
	}

	.main {
		width: 80%;
		// width: ($mainWidth / $desktopWidth) * 100%;
		height: 100%;
		max-width: $mainWidth;
		min-width: $mobile-mainWidth;
		margin: 78px auto auto;
	}
}
