.main {
	.listContainer {
		width: 100%;
		height: auto;
		border-radius: 5px;
		background-color: $todoList-background;
		margin-top: 30px;

		.itemContainer {
			width: 100%;
			height: auto;

			.listItem {
				display: flex;
				align-items: center;
				width: 100%;
				height: 62px;
				border-bottom: 1px solid $text-color-dim;

				&.selected {
					.item {
						color: $text-color-dim;
						text-decoration: line-through;
					}

					.circle {
						background: $linear-gradient;

						.inner-circle {
							visibility: hidden;
						}

						img {
							visibility: visible;
						}
					}
				}

				.item {
					color: $text-color-on;
				}

				.circle {
					@include circle-btn-gradient;
					min-width: 26px;
					margin: auto 22px;
					background: $circle-border-color;
					cursor: pointer;

					&:hover {
						background: $linear-gradient;
					}

					.inner-circle {
						position: relative;
						top: 2px;
						left: 2px;
						@include circle-btn;
						background-color: $todoList-background;
					}

					img {
						position: relative;
						top: -13px;
						left: 8px;
						display: block;
						z-index: 2;
						visibility: hidden;
					}
				}

				&:hover {
					.xButton {
						opacity: 1;
						transition: opacity 0.3s ease-in;
					}
				}

				.xButton {
					width: 22px;
					height: 22px;
					padding: 2px;
					margin: auto 20px auto auto;
					cursor: pointer;
					opacity: 0;
					transition: opacity 0.3s ease-out;
				}
			}
		}

		.listMenu {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 0.7rem;
			color: $text-color-dim;

			.details {
				p {
					padding: 10px 6px 10px 10px;
				}
			}

			.filter {
				display: flex;
				justify-content: space-around;

				div {
					padding: 10px 6px;
					cursor: pointer;

					&:hover {
						color: $text-color-on;
					}

					&.filter-on {
						color: $primary-color-teal;
						pointer-events: none;
					}
				}
			}

			.clear {
				div {
					padding: 10px 10px 10px 6px;
					cursor: pointer;

					&:hover {
						color: $text-color-on;
					}
				}
			}
		}
	}
}
