@mixin circle-btn {
	width: 22px;
	height: 22px;
	border-radius: 100%;
}

@mixin circle-btn-gradient {
	width: 26px;
	height: 26px;
	border-radius: 100%;
}

@mixin circle-border {
	@include circle-btn;
	border: 2px solid $circle-border-color;
}
