body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  max-height: 1056px;
  margin: 0 auto;
}

.wrapper .background {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #161722;
  z-index: -1;
}

.wrapper .background img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.wrapper .main {
  width: 37.5%;
  height: 100%;
  max-width: 540px;
  margin: 78px auto auto;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 540px;
  margin-bottom: 30px;
}

.head h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.8rem;
  color: white;
  margin: 0;
  padding-top: 6px;
}

.head img {
  cursor: pointer;
}

.head #sun.hide {
  display: none;
}

.head #moon.hide {
  display: none;
}

.main form label .todoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 540px;
  height: 62px;
  background-color: #25273c;
  border-radius: 5px;
  margin: 0 auto;
}

.main form label .todoContainer .circle {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid #393a4c;
  min-width: 22px;
  margin: auto 22px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main form label .todoContainer .circle:hover {
  border-color: #e4e5f1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main form label .todoContainer input {
  width: 77.77778%;
  height: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: #4d5066;
  background: transparent;
  margin-top: 2px;
  border: none;
}

.main form label .todoContainer input:focus {
  color: #e4e5f1;
  outline: none;
}

.main form label .todoContainer input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main form label .todoContainer input:focus:-ms-input-placeholder {
  color: transparent;
}

.main form label .todoContainer input:focus::-ms-input-placeholder {
  color: transparent;
}

.main form label .todoContainer input:focus::placeholder {
  color: transparent;
}

.main form label .todoContainer:hover .xButton {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.main form label .todoContainer .xButton {
  width: 22px;
  height: 22px;
  padding: 2px;
  margin: auto 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.main .listContainer {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #25273c;
  margin-top: 30px;
}

.main .listContainer .itemContainer {
  width: 100%;
  height: auto;
}

.main .listContainer .itemContainer .listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #4d5066;
}

.main .listContainer .itemContainer .listItem.selected .item {
  color: #4d5066;
  text-decoration: line-through;
}

.main .listContainer .itemContainer .listItem.selected .circle {
  background: linear-gradient(140deg, #57ddff, #c058f3);
}

.main .listContainer .itemContainer .listItem.selected .circle .inner-circle {
  visibility: hidden;
}

.main .listContainer .itemContainer .listItem.selected .circle img {
  visibility: visible;
}

.main .listContainer .itemContainer .listItem .item {
  color: #e4e5f1;
}

.main .listContainer .itemContainer .listItem .circle {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  min-width: 26px;
  margin: auto 22px;
  background: #393a4c;
  cursor: pointer;
}

.main .listContainer .itemContainer .listItem .circle:hover {
  background: linear-gradient(140deg, #57ddff, #c058f3);
}

.main .listContainer .itemContainer .listItem .circle .inner-circle {
  position: relative;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #25273c;
}

.main .listContainer .itemContainer .listItem .circle img {
  position: relative;
  top: -13px;
  left: 8px;
  display: block;
  z-index: 2;
  visibility: hidden;
}

.main .listContainer .itemContainer .listItem:hover .xButton {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.main .listContainer .itemContainer .listItem .xButton {
  width: 22px;
  height: 22px;
  padding: 2px;
  margin: auto 20px auto auto;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.main .listContainer .listMenu {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  color: #4d5066;
}

.main .listContainer .listMenu .details p {
  padding: 10px 6px 10px 10px;
}

.main .listContainer .listMenu .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .listContainer .listMenu .filter div {
  padding: 10px 6px;
  cursor: pointer;
}

.main .listContainer .listMenu .filter div:hover {
  color: #e4e5f1;
}

.main .listContainer .listMenu .filter div.filter-on {
  color: #57ddff;
  pointer-events: none;
}

.main .listContainer .listMenu .clear div {
  padding: 10px 10px 10px 6px;
  cursor: pointer;
}

.main .listContainer .listMenu .clear div:hover {
  color: #e4e5f1;
}
/*# sourceMappingURL=styles.css.map */